<%= form_with(model: @applicant, html: { class: "needs-validation" }) do |form| %>

    <h1 class="mb-4 text-center mt-2 text-uppercase"><%= t("helpers.submit.create", model: @applicant.model_name.human) %></h1>


  <div class="container p-4 border rounded shadow-sm bg-light">
   
    <%# CPF %>
    <div class="row mb-3">
      <div class="col-md-3">
        <%= form.label :cpf, class: "form-label fw-bold" %>
      </div>
      <div class="col-md-9">
        <%= form.text_field :cpf, required: true , placeholder: "000.000.000-00", class: "form-control" %>
      </div>
    </div>

    <%# Nome completo %>
    <div class="row mb-3">
      <div class="col-md-3">
        <%= form.label :full_name, class: "form-label fw-bold" %>
      </div>
      <div class="col-md-9">
        <%= form.text_field :full_name, required: true, class: "form-control" %>
      </div>
    </div>

    <%# Nome profissional %>
    <div class="row mb-3">
      <div class="col-md-3">
        <%= form.label :professional_name, class: "form-label fw-bold" %>
      </div>
      <div class="col-md-9">
        <%= form.text_field :professional_name, class: "form-control" %>
      </div>
    </div>

    <%# Celular %>
    <div class="row mb-3">
      <div class="col-md-3">
        <%= form.label :cellphone, class: "form-label fw-bold" %>
      </div>
      <div class="col-md-9">
        <%= form.text_field :cellphone, required: true, placeholder: "(00) 00000-0000", class: "form-control" %>
      </div>
    </div>

    <%# Email %>
    <div class="row mb-3">
      <div class="col-md-3">
        <%= form.label :email, class: "form-label fw-bold" %>
      </div>
      <div class="col-md-9">
        <%= form.email_field :email, required: true , class: "form-control" %>
      </div>
    </div>

    <%# Tipo de requerente %>
    <div class="row mb-3">
      <div class="col-md-3">
        <%= form.label :type_of_applicant, class: "form-label fw-bold" %>
      </div>
      <div class="col-md-9">
        <%= form.select :type_of_applicant, ['', 'Jornalista profissional', 'Estudante de jornalismo'], {}, class: "form-select" %>
      </div>
    </div>

    <%# Associado (checkbox inline) %>
    <div class="row mb-3">
      <div class="col-md-3"> </div>
      <div class="col-md-9 d-flex align-items-center">
        <%= form.check_box :associated, class: "form-check-input me-2" %>
        <%= form.label :associated, "Sou associado da ARI", class: "form-check-label mb-0" %>
      </div>
    </div>

    <%# Senha %>
    <div class="row mb-4">
      <div class="col-md-3">
        <%= form.label :password, class: "form-label fw-bold" %>
      </div>
      <div class="col-md-9">
        <%= form.password_field :password, required: true , class: "form-control" %>
      </div>
    </div>

    <%# Senha %>
    <div class="row mb-4">
      <div class="col-md-3">
        <%= form.label :password_confirmation, class: "form-label fw-bold" %>
      </div>
      <div class="col-md-9">
        <%= form.password_field :password, required: true , class: "form-control" %>
      </div>
    </div>

    <%# Botão de envio %>
    <div class="row">
      <div class="col-md-12 text-end">
        <%= form.submit t("helpers.submit.create", model: @applicant.model_name.human), class: "btn btn-primary px-4" %>
      </div>
    </div>

  </div>
<% end %>