<h1 class="mb-4 text-center mt-2 text-uppercase"><%= t("helpers.submit.create", model: resource.model_name.human) %></h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "needs-validation" }, data: { turbo: false }) do |form| %>
  <div class="container p-4 border rounded shadow-sm bg-light">

    <% if resource.errors.any? %>
      <div class="alert alert-danger">
        <h4><%= t("errors.messages.form_errors", count: resource.errors.count) %></h4>
        <ul>
          <% resource.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
   
    <div class="row mb-3">
      <div class="col-md-3">
        <%= form.label :full_name, class: "form-label fw-bold" %>
      </div>
      <div class="col-md-9">
        <%= form.text_field :full_name, required: true, class: "form-control" %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-3">
        <%= form.label :professional_name, class: "form-label fw-bold" %>
      </div>
      <div class="col-md-9">
        <%= form.text_field :professional_name, class: "form-control" %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-3">
        <%= form.label :cellphone, class: "form-label fw-bold" %>
      </div>
      <div class="col-md-9">
        <%= form.text_field :cellphone, required: true, placeholder: "(00) 00000-0000", class: "form-control" %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-3">
        <%= form.label :email, class: "form-label fw-bold" %>
      </div>
      <div class="col-md-9">
        <%= form.email_field :email, required: true , class: "form-control" %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-3">  
        <%= form.label :type_of_applicant, class: "form-label fw-bold" %>
      </div>
      <div class="col-md-9">
        <%= form.select :type_of_applicant, ['', 'Jornalista profissional', 'Estudante de jornalismo'], {}, class: "form-select" %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-3"> </div>
      <div class="col-md-9 d-flex align-items-center">
        <%= form.check_box :associated, class: "form-check-input me-2" %>
        <%= form.label :associated, "Sou associado da ARI", class: "form-check-label mb-0" %>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-md-3">
        <%= form.label :password, class: "form-label fw-bold" %>
      </div>
      <div class="col-md-9">
        <%= form.password_field :password, required: true , class: "form-control" %>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-md-3">
        <%= form.label :password_confirmation, class: "form-label fw-bold" %>
      </div>
      <div class="col-md-9">
        <%= form.password_field :password_confirmation, required: true , class: "form-control" %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-end">
        <%= form.submit t("helpers.submit.create", model: resource.model_name.human), class: "btn btn-primary px-4" %>
      </div>
    </div>

  </div>
<% end %>